PORT=3000
URI=mongodb+srv://khanmdahsan126_db_user:khanfire@cluster0.eeshtpn.mongodb.net/conference_db?retryWrites=true&w=majority
secret=your_jwt_secret_uuhuhueh
cloud_name=ds3e0guyf
api_key=918756927513918
api_secret=Ct2Zn19GSp5VUgY_Ya0VaQruyoY
